<% if @data.present? %>
  <table class="table table-bordered table-hover text-center">
    <thead>
      <tr style="background-color: #c4d9ff">
        <th width="20%">圖片</th>
        <th width="40%">商品明細</th>
        <th width="10%">售價</th>
        <th width="10%">購買數量</th>
        <th width="10%">小計</th>
        <th width="10%">刪除</th>
      </tr>
    </thead>
    <tbody>
      <% ttl = 0 %>
      <% @data.each do |d| %>
        <% ttl += d.qty.to_i * d.prod_price.to_i %>
        <tr>
          <td><img src="https://fakeimg.pl/200x100/?text=Picture"></td>
          <td style="text-align:left;">
            <span style="font-size:18px;font-weight:bold;"><%= d.prod_name %></span><br/><%= d.prod_desc %>
          </td>
          <td><%= d.prod_price %></td>
          <td>
            <input type="number" class="qty form-control" data-id="<%= d.id %>" value="<%= d.qty %>" min="1">
          </td>
          <td><%= d.qty.to_i * d.prod_price.to_i %></td>
          <td>
            <%= link_to '<i class="fa fa-trash"></i> 刪除'.html_safe, {action: :destroy, id: d.id},
              data: {"turbo-method": :delete, 'turbo-confirm': '確定刪除?'}, class: "btn btn-danger btn-sm", style: 'color:white' %>
          </td>
        </tr>
      <% end %>
      <tr style="background-color: #e3edff">
        <td align="right" colspan="6" style="font-size:18px;">
          <b>共<%= @data.size %>項商品，總數量為<%= @data.sum(&:qty) %>件，總金額為<font color="red"><%= ttl %>元</font></b>
        </td>
      </tr>
    </tbody>
  </table>
  <div align="center">
    <%= link_to '返回商店', {controller: '/shop/customer', action: 'index'}, {class: "btn btn-secondary"} %>
    <%= link_to '確認結帳', {controller: '/cart', action: 'check_out'}, {class: "btn btn-primary"} %>
  </div>
<% else %>
  <div class="alert alert-danger" role="alert">購物車內尚無購買商品</div>
<% end %>