<h1>寵物列表</h1>
<table>
  <thead>
    <tr>
      <td>分類</td>
      <td>名字</td>
      <td>年齡</td>
      <td>顏色</td>
      <td>備註</td>
      <td>票數</td>
    </tr>
  </thead>
  <tbody>
    <% @pet.each do |d| %>
        <tr>
        <td><%= d.category %></td>        
        <td><%= d.name %></td>
        <td><%= d.age %></td>
        <td><%= d.color %></td>
        <td><%= d.remark %></td>
        <td><%= d.votes %></td>
        </tr>
    <% end %>
  </tbody>
</table>