<table class="table table-bordered table-hover">
  <thead>
    <tr style="background-color: #c4d9ff">
      <th nowrap>No.</th>
      <th nowrap>商品類別</th>
      <th nowrap>商品名稱</th>
      <th nowrap>商品敘述</th>
      <th nowrap>單位</th>
      <th nowrap>售價金額</th>
      <th nowrap>目前庫存</th>
      <th nowrap>狀態</th>
      <th nowrap>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @data.each_with_index do |d, i| %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= ::Management::ProductHelper.product_category(d.category) %></td>
          <td><%= d.name %></td>
          <td><%= d.desc %></td>
          <td nowrap><%= d.unit_qty %><%= d.unit %></td>
          <td><%= d.price %>元</td>
          <td><%= d.ttl_qty %></td>
          <td nowrap><%= d.active == 'Y' ? '上架' : '下架' %></td>
          <td nowrap>
            <%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, {action: :edit, id: d.id},
              class: "btn btn-info btn-sm", style: 'color:white' %>
            <%= link_to '<i class="fa fa-trash"></i>'.html_safe, {action: :destroy, id: d.id},
              data: {"turbo-method": :delete, 'turbo-confirm': '確定刪除?'}, class: "btn btn-danger btn-sm", style: 'color:white' %>
          </td>
        </tr>
      <% end %>
    </tr>
  </tbody>
</table>