<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #212C76;">
  <div class="container-fluid">
    <%= link_to '<img src="https://img.icons8.com/external-icongeek26-flat-icongeek26/64/000000/external-rabbit-origami-icongeek26-flat-icongeek26.png" width="40px;" height="40px"/>Rabbit World'.html_safe,
      {controller: '/main', action: 'index'}, {class: "navbar-brand"} %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to '認識兔子', {controller: '/rabbit/info', action: 'index'}, {class: 'nav-link'} %>
        </li>
        <li class="nav-item">
          <%= link_to '飼養百科', {controller: '/rabbit/info', action: 'feed'}, {class: 'nav-link'} %>
        </li>
        <!--<li class="nav-item">
          <%#= link_to '照顧方式', {controller: '/rabbit/info', action: 'feed'}, {class: 'nav-link'} %>
        </li>-->
        <li class="nav-item">
          <%= link_to '線上購物', {controller: '/shop/customer', action: 'index'}, {class: 'nav-link'} %>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if session[:user].present? %>
          <%# 管理者 %>
          <% if session[:user]["priv"] == 'admin' %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="drop_admin" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-diamond"></i> 後臺管理
              </a>
              <ul class="dropdown-menu" aria-labelledby="drop_admin">
                <li>
                  <%= link_to '商品管理', {controller: '/management/product', action: 'index'}, {class: 'dropdown-item', title: '商品管理'} %>
                </li>
              </ul>
            </li>
          <% end %>
          <%# 一般會員 %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="drop_user" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-user-circle"></i> 會員中心
            </a>
            <ul class="dropdown-menu" aria-labelledby="drop_user">
              <li>
                <%= link_to '帳號管理', {controller: '/user_sys/account', action: 'index'}, {class: 'dropdown-item', title: '帳號管理'} %>
              </li>
              <li>
                <%= link_to '歷史訂單', {controller: '/user_sys/orderlist', action: 'index'}, {class: 'dropdown-item', title: '歷史訂單'} %>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <%= link_to '<i class="fa fa-shopping-cart fa-lg"></i> 購物車'.html_safe, {controller: '/cart', action: 'index'},
              {class: 'nav-link', title: '購物車'} %>
          </li>
          <li class="nav-item">
            <%= link_to '登出', {controller: '/login', action: 'logout'}, {class: 'nav-link', title: '登出帳號'} %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to '登入', {controller: '/login', action: 'index'}, {class: 'nav-link', title: '登入帳號'} %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>